.addressInputLabel{
    font-size: 0.8rem;
}

.addNewAddressButton {
    font-size: 0.8rem;
    background-color: rgb(70, 106, 160);
    outline: rgb(70, 106, 160);
}

.form-control {
    font-size: 0.8rem;
}

.newAddressSectionLabel {
    margin-top: 20px;
}