.SingleBundle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.bundleDescription {
 font-size: 1rem;
 margin-bottom: 5px;
}

.bundlePrice {
  font-size: 1rem;
}

.bundleCard {
  padding: 0px;
}
// .custom-select {
//   display: none;
// }