.Shop {
  display: block;
}

#searchAndCategoryContainer {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#searchIconAndInput {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#shopSearchInput {
  margin-left: 0px;
}